<div class="container" style="width: 700px;">
  <div class="cards" style="margin-top: 80px;">
    <p><%= link_to "Add a new Assassin", new_assassin_path %></p>
    <% @assassins.each do |assassin| %>
    <div class="card-category">
      <img src="https://files.slack.com/files-pri/T02NE0241-F019FFQQL2H/old_woman_with_knife.jpg" class="card-trip-user avatar-bordered"/>
      <h4><%= link_to assassin.first_name + " " + assassin.last_name, assassin_path(assassin)%></h4>
      <p><%= assassin.summary[0..100] + "..." %></p>
      <p><i class="fas fa-skull-crossbones"></i> <%= assassin.total_kills %></p>
    </div>
    <% end %>
  </div>
</div>

<!--
<div class="logo-container" style="width: 700px;">
         <img src="/images/gladys.jpg" alt= "logo" />
    <div class="Card__body">
      <h3 class="Card__title">Gladys</h3>
        <div class="Card__price">50€/a kill</div>
        <div class="Card__meta">
        <div class="d-flex">
      </div>
      <div>
      <i class="fas fa-heart color-grey-text"></i>
    </div>
</div> -->

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
