<div class="container" style="margin-top: 80px; width: 700px;">
  <div ></div>
  <p><strong><%= @assassin.first_name + " " + @assassin.last_name%></strong></p>
  <p><%= @assassin.summary %></p>
  <p>Total kills: <i class="fas fa-skull-crossbones"></i> <%= @assassin.total_kills%></strong></p>
  <!-- TODO add link to reservations or show calendar -->
  <%= simple_form_for [@assassin, @reservation] , method: :post do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.input :description %>
  <%= f.submit %>
  <% end %>
  <!-- check above -->
  <!-- show if the assassin is reserved -->
  <% if @user_reservations.blank? %>
  <% else %>
  <% @user_reservations.each do |user_reservation| %>
    <%= user_reservation.start_date %>
    <% end %>
  <% end %>
  <!-- check above -->
  <p>Hire this Assassin</p>
  <p><%= link_to "Back to the Assassin List", assassins_path %></p>
</div>
